Programa/~$onograma.docx
Programa/~$triz_contenidos.docx
Dia 2/.ipynb_checkpoints/05 - Introducción a NumPy-checkpoint.ipynb
Dia 2/.ipynb_checkpoints/05 - Introducción a NumPy-checkpoint.ipynb
Dia 2/.ipynb_checkpoints/06 - Introducción a Pandas-checkpoint.ipynb
Dia 2/.ipynb_checkpoints/05 - Introducción a NumPy-checkpoint.ipynb